<?xml version="1.0" encoding="UTF-8" ?>
<application id="users/profiles/editor">


<element type="textElement" classname="textmenulink"><![CDATA[Editor Perfil Usuario]]></element>
</application>
